<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a href="/add_students.html">添加</a>
</div>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>名字</th>
            <th>年龄</th>
            <th>性别</th>
            <th>班级</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {% for stu in stu_list %}
                <tr>
                    <td>
                        {{ stu.id }}
                    </td>
                    <td>
                        {{ stu.name }}
                    </td>
                    <td>
                        {{ stu.age }}
                    </td>
                    <td>
                        {% if stu.gender == 1 %}
                            男
                        {% else %}
                            女
                        {% endif %}
                    </td>
                    <td>
                        {{ stu.cs.title }}
                    </td>
                    <td>
                     <a href="/del_students.html?nid={{ stu.id }}">删除</a>
                        |
                        <a href="edit_students.html?nid={{ stu.id }}">编辑</a>
                    </td>

                </tr>
            
            {% endfor %}

        </tbody>
    </table>
</div>
</body>
</html>