<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/set_teacher.html?nid={{ nid }}">
{% csrf_token %}
<select multiple size="10" name="tids">
    {% for foo in allteacher %}
        {% if foo.id in idlist %}
                <option value="{{ foo.id }}" selected="selected">{{ foo.name }}</option>
            {% else %}
                <option value="{{ foo.id }}">{{ foo.name }}</option>
        {% endif %}
    {% endfor %}

</select>
<input type="submit" value="提交"/>
</form>
</body>
</html>